@import "../../styles/theme/";

.container {
    padding: 1rem;
    justify-content: space-between;
    color: $text-color;
    background: conic-gradient(from 270deg at 67.98% 100%, #5710f2 0deg, #6036bd 360deg);
    text-align: center;
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
}
.containerMobile {
    padding: 1.4rem;
    color: $text-color;
    background: conic-gradient(from 270deg at 67.98% 100%, #5710f2 0deg, #6036bd 360deg);
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
}
